/* Reset and Imports */
@import url('../../public/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  /* Using palette variables for Foreground and Background Colors */
  --foreground-rgb: var(--black-color); /* Text color based on palette */
  --background-rgb: var(--white-color); /* Background color based on palette */

  --black-color: #212121;
  --white-color: #f5f5f5 ;

  --warning-50: 255, 235, 230;  /* #ffebe6 */
  --warning-500: 255, 77, 77;    /* #ff4d4d */
  --warning-900: 179, 0, 0;      /* #b30000 */

  /* Font Families */
  --font-primary: 'Helvetica', sans-serif;
  --font-primary-bold: 'Helvetica', sans-serif;
  --font-title: 'Helvetica', sans-serif;

  /* Font Sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 1.2rem;
  --font-size-lg: 4rem;
  --logo-font-size: 1.25rem;

  /* Buttons */
  --button-border-width: 2px;
  --button-border-radius: 9999px;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-extra-lg: 3rem;
  --spacing-xx-lg: 4rem;

  --section-gap: 4rem;

  --homepage-mt: 8rem;

  --header-link-gap: 4rem;

    /* Border & Shadow */
  --border-radius: 1rem;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Embla Carousel */
  --slides-per-view: 3;
  --carousel-gap: 1rem;
  --carousel-padding: 1rem 0;

  /* Text and Typography */
  --text-align: justify;

  /* Card */
  --card-width: 22rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Using palette variables for Foreground and Background Colors in Dark Mode */
    --foreground-rgb: var(--white-color); /* White text based on palette */
    --background-rgb: var(--black-color); /* Dark background based on palette */
  }
}

            /* Media Queries */

@media screen and (max-width: 1024px) {
  :root {
    --slides-per-view: 2.8; /* 2 slides for tablets */
    --card-width: 18rem;
    --section-gap: 3rem;
    --homepage-mt: 6rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --slides-per-view: 2.4; /* 2 slides for tablets */
    --card-width: 18rem;
    --section-gap: 2rem;
    --homepage-mt: 4rem;
    --header-link-gap: 3rem;
    --logo-font-size: 1.15rem;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --slides-per-view: 1.2; /* 2 slides for tablets */
    --font-size-base: 14px;
    --section-gap: 1rem;
    --homepage-mt: 2rem;
    --header-link-gap: 2rem;
  }

  .hero-section {
    flex-direction: column;
    gap: var(--spacing-lg);
    align-items: start;
  }

  .hero-picture-container {
    order: -1;
    width: 200px;
    height: 200px;
    margin-bottom: var(--spacing-md);
  }

  .hero-description {
    padding-right: var(--spacing-md);
  }

  .homepage-section {
    padding: var(--spacing-lg);
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --slides-per-view: 1; /* 1 slide for mobile */
    --card-width: 16rem;
    --font-size-base: 12px;
    --section-gap: 1rem;
    --header-link-gap: 1rem;
    --logo-font-size: 1.05;
  }

  .hero-description {
    font-size: calc(var(--font-size-base) * 1.2); /* Should resolve to 14.4px */
  }
}

/* Global Styles */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure the body always fits the viewport width */
  box-sizing: border-box;
}


body {
  color: rgb(var(--foreground-rgb)); /* Text color using palette */
  background: rgb(var(--background-rgb)); /* Background color using palette */
  font-family: var(--font-primary), sans-serif; /* Primary font */
  font-size: var(--font-size-base); /* Base font size */
  font-weight: bold;
}

/* Components */

@layer utilities {
  .header {
    top: 0;
    padding: var(--spacing-md) 1.5rem;
    z-index: 50;
    width: 100%
  }

  .header-container {
    width: 100%; /* Shrink with the screen */
    max-width: 1200px; /* Same max-width as section components */
    margin: 0 auto; /* Center the container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
  }

  .theme-switch {
    cursor: pointer;
  }

  .header-logo {
    font-weight: bold;
    font-size: var(--logo-font-size);
    text-transform: uppercase;
    font-family: var(--font-title), sans-serif;
    letter-spacing: 0.1rem;
  }

  /* Homepage Global styles */
  .homepage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--section-gap);
      width: 100%;
      min-height: 100vh;
      margin-top: var(--homepage-mt);
  }

  /* Homepage sections Styles*/
  .homepage-section {
    padding: var(--spacing-md);
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    gap: var(--spacing-md);
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xx-lg);
    height: fit-content;
  }

  .hero-picture-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 380px;
    height: 380px;
    flex-shrink: 0;
  }

  .hero-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hero-description {
    font-size: var(--font-size-md);
    text-align: var(--text-align);
    width: 100%;
    margin-top: var(--spacing-lg);
  }

  /* Social links */
  .social-link {
    display: flex;
    align-items: center;
    gap: .25rem; /* Matches gap-1 */
    transition: color .2s ease-in-out;
    font-weight: bold;
  }

  .social-link.github {
    color: #4b5563; /* Matches text-gray-800 */
  }

  .social-link.github:hover {
    color: #6b7280; /* Matches hover:text-gray-500 */
  }

  .social-link.linkedin {
    color: #0a66c2; /* Matches text-blue-700 */
  }

  .social-link.linkedin:hover {
    color: #3399ff; /* Matches hover:text-blue-400 */
  }

  /* Project Gallery */
  .project-gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: var(--spacing-lg) 0;
  }

  /* Project Carousel */
  .embla {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .embla__container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .embla__slide {
    flex: 0 0 calc(100% / var(--slides-per-view));
    min-width: calc(100% / var(--slides-per-view));
    max-width: calc(100% / var(--slides-per-view));
    margin: 0 var(--carousel-gap);
  }

  .embla__controls {
    display: flex;
    justify-content: center;
  }

  .embla__dots {
    display: flex;
    justify-content: center;
    height: fit-content;
  }

  .embla__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
  }

  .embla__dot--selected {
    background-color: var(--black-color);
  }

  /* Project Card Styles */
  .project-card {
    padding: 0;
    background: rgb(var(--background-rgb));
    width: var(--card-width);
    height: fit-content;
  }

                    /* Contact Section */

  .contact-section {
    max-width: 32rem;
  }

  .contact-form {
    margin-top: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .contact-fields-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
  }

                    /***** Titles *****/
  .title {
    font-family: var(--font-title), sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1;
    text-transform: uppercase;
  }

  .section-title {
    font-size: var(--font-size-lg);
  }

  .hero-title {
    font-size: 6rem;
  }

  .card-title {
    font-size: 1.5rem;
    font-family: var(--font-title), sans-serif;
    font-weight: bold;
    line-height: 1;
  }

                      /***** Buttons *****/
  /* Primary Button Styles */
  .btn-primary {
    border: 2px solid rgb(var(--black-color)); /* Bordure noire */
    color: rgb(var(--black-color));             /* Texte noir */
    background-color: transparent;              /* Fond transparent par défaut */
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 9999px;                      /* Bouton entièrement arrondi */
    transition: background-color 0.3s, color 0.3s; /* Transition douce */
    font-weight: bold;
  }

  .btn-primary:hover {
    background-color: rgb(var(--black-color));  /* Fond noir au survol */
    color: rgb(var(--white-color));              /* Texte plus clair au survol */
  }

  .btn-primary[aria-busy="true"] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .btn-warning {
    border: 2px solid rgb(var(--warning-900));  /* Bordure rouge */
    color: rgb(var(--warning-900));             /* Texte rouge */
    background-color: transparent;              /* Fond transparent par défaut */
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 9999px;
    transition: background-color 0.3s, color 0.3s; /* Transition douce */
    font-weight: bold;
  }

  .btn-warning:hover {
    background-color: rgb(var(--warning-900));  /* Fond rouge au survol */
    color: rgb(var(--white-color));              /* Texte clair au survol */
  }

  .btn-warning[aria-busy="true"] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .custom-file-input-wrapper {
    margin-bottom: var(--spacing-md);
  }

  .custom-file-label {
    display: inline-flex;
    align-items: center;
    padding: var(--spacing-sm) .75rem;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    transition: all 0.3s;
  }

  .custom-file-label:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
  }

  .upload-text {
    margin-left: var(--spacing-sm);
  }
}